<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote Vibrator 🍆</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="content" class="body">

        <div class="container">
            <div class="flex-container">
                <div>
                    <h2>The Feel-Good Slider</h2>
                </div>
                <div>
                    <a class="switch-theme">Switch Theme</a>
                </div>
            </div>

            <br />
            <p>Online users: <i id="online-users-value">0</i></p>
            <p>Current value: <i id="the-value">0</i></p>
            <div class="slidecontainer">
                <input type="range" min="0" max="100" step="1" value="0" class="slider" id="vibrator_input" list="markers">
                <datalist id="markers">
                  <option value="0" label="off"></option>
                  <option value="25" label="pleasurable"></option>
                  <option value="50" label="medium"></option>
                  <option value="75" label="intense"></option>
                  <option value="100" label="oh fuck"></option>
                </datalist>
            </div>
        </div>

    </div>
    <!-- Jinja template to resolve this javascript file from my main folder at template render time -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>